<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ADMIN</title>

<!-- CSS only -->
<link href="css/bootstrap.min.css" rel="stylesheet"
	th:ref="@{/css/bootstrap.css}">

</head>
<body class="text-center">

	<nav th:replace="fragments/navbar.html :: nav"></nav>
	
	<br>
	<br>
	<br>
	<!-- ----------------------------------------AUTORES---------------------------------------------------------------- -->
	<div>
		<div>
			<table class="table table-dark table-striped">
				<thead>
					<TR>
						<TH COLSPAN="4"><BR>
							<H3>AUTORES</H3></TH>
					</TR>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nombre</th>
						<th scope="col">Editar</th>
						<th scope="col">Dar de baja/alta</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="autor : ${autores}">
						<td th:text="${autor.id}"></td>
						<td th:text="${autor.nombre}"></td>
						<td>
						<button type="button" class="btn btn-primary" 
						th:attr="onclick=|enviarAutor('${autor.id}','${autor.nombre}')|">Editar</button>
						</td>
						<td th:switch="${autor.alta}">
  								<a th:case="false" type="submit" class="btn btn-success" 
  									th:href="@{admin/alta-baja-autor/{id}(id=${autor.id})}">Dar de alta</a>
								<a th:case="true" type="submit" class="btn btn-danger"
									th:href="@{admin/alta-baja-autor/{id}(id=${autor.id})}">Dar de baja</a>							
						</td>
					</tr>
				</tbody>
			</table>
			<!-- ----------------------------------------EDITAR AUTOR---------------------------------------------------------------- -->
			<form action="/admin/editarautor" method="POST">
					<div class="align-center form-floating"
						style="width: 35%; display: none; margin: auto" id="editar1">
						<div style="display: inline-block; margin: auto">
						<input type="number" readonly class="form-control" id="idEditar1" name="idInput"> 
							<label for="idInput">ID</label>
						</div>
						<div style="display: inline-block; margin: auto">
						<input type="text" class="form-control" id="nombreEditar1" name="nombreInput"> 
							<label for="nombreInput">Nombre</label>
						</div>
						<button class="btn btn-lg btn-primary" type="submit" id="finaleditar1">Editar</button>
						<button type="button" class="btn btn-secondary"
							onclick="ocultar('editar1')" style="display: inline">Ocultar</button>
					</div>
				</form>
			<div>
			<!-- ----------------------------------------AGREGAR AUTOR---------------------------------------------------------------- -->
				<button type="button" class="btn btn-dark" onclick="mostrar('agregar1')">Agregar Autor</button>
				<form action="/admin/registrarautor" method="POST">
					<div class="align-center form-floating"
						style="width: 35%; display: none; margin: auto" id="agregar1">
						<input type="text" class="form-control" id="nombreInput" name="nombreInput" placeholder="nombre"> 
							<label for="nombreInput">Nombre</label>
						<button class="btn btn-lg btn-primary" type="submit" id="finalagregar1">Agregar</button>
						<button type="button" class="btn btn-secondary"
							onclick="ocultar('agregar1')" style="display: inline">Ocultar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
	<div>
	<!-- ----------------------------------------EDITORIALES---------------------------------------------------------------- -->
		<table class="table table-dark table-striped">
			<thead>
				<TR>
					<TH COLSPAN="4"><BR>
						<H3>EDITORIALES</H3></TH>
				</TR>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Editar</th>
					<th scope="col">Dar de baja/alta</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="editorial : ${editoriales}">
					<td th:text="${editorial.id}"></td>
					<td th:text="${editorial.nombre}"></td>
					<td><button type="button" class="btn btn-primary"
					th:attr="onclick=|enviarEditorial('${editorial.id}','${editorial.nombre}')|">Editar</button></td>
					<td th:switch="${editorial.alta}">
						<a th:case="false" type="submit" class="btn btn-success" 
  								th:href="@{admin/alta-baja-editorial/{id}(id=${editorial.id})}">Dar de alta</a>
						<a th:case="true" type="submit" class="btn btn-danger"
								th:href="@{admin/alta-baja-editorial/{id}(id=${editorial.id})}">Dar de baja</a>	
					</td>
				</tr>
			</tbody>
		</table>
		<!-- ----------------------------------------EDITAR EDITORIAL---------------------------------------------------------------- -->
		<form action="/admin/editareditorial" method="POST">
					<div class="align-center form-floating"
						style="width: 35%; display: none; margin: auto" id="editar2">
						<div style="display: inline-block; margin: auto">
						<input type="number" readonly class="form-control" id="idEditar2" name="idInput"> 
							<label for="idInput">ID</label>
						</div>
						<div style="display: inline-block; margin: auto">
						<input type="text" class="form-control" id="nombreEditar2" name="nombreInput"> 
							<label for="nombreInput">Nombre</label>
						</div>
						<button class="btn btn-lg btn-primary" type="submit" id="finaleditar2">Editar</button>
						<button type="button" class="btn btn-secondary"
							onclick="ocultar('editar2')" style="display: inline">Ocultar</button>
					</div>
				</form>
				<!-- ----------------------------------------AGREGAR EDITORIAL---------------------------------------------------------------- -->
		<div>
				<button type="button" class="btn btn-dark" onclick="mostrar('agregar2')">Agregar Editorial</button>
				<form action="/admin/registrareditorial" method="POST">
					<div class="align-center form-floating" style="width: 35%; display: none; margin: auto" id="agregar2">
						<input type="text" class="form-control" id="nombreInput" name="nombreInput" placeholder="nombre"> <label for="nombreInput">Nombre</label>
						<button class="btn btn-lg btn-primary" type="submit" id="finalagregar2">Agregar</button>
						<button type="button" class="btn btn-secondary" onclick="ocultar('agregar2')" style="display: inline">Ocultar</button>
					</div>
				</form>
			</div>
	</div>
	<br>
	<!-- ----------------------------------------LIBROS---------------------------------------------------------------- -->
	<div>
		<table class="table table-dark table-striped">
			<thead>
				<TR>
					<TH COLSPAN="11"><BR>
						<H3>LIBROS</H3></TH>
				</TR>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">ISBN</th>
					<th scope="col">Titulo</th>
					<th scope="col">Año</th>
					<th scope="col">Ejemplares</th>
					<th scope="col">Prestados</th>
					<th scope="col">Disponibles</th>
					<th scope="col">Autor</th>
					<th scope="col">Editorial</th>
					<th scope="col">Editar</th>
					<th scope="col">Dar de baja/alta</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="libro : ${libros}">
					<td th:text="${libro.id}"></td>
					<td th:text="${libro.isbn}"></td>
					<td th:text="${libro.titulo}"></td>
					<td th:text="${libro.anio}"></td>
					<td th:text="${libro.ejemplares}"></td>
					<td th:text="${libro.ejemplaresPrestados}"></td>
					<td th:text="${libro.ejemplaresRestantes}"></td>
					<td th:text="${libro.autor.getNombre()}"></td>
					<td th:text="${libro.editorial.getNombre()}"></td>
					<td><button type="button" class="btn btn-primary"
					th:attr="onclick=|enviarLibro('${libro.id}','${libro.isbn}','${libro.titulo}',
					'${libro.anio}','${libro.ejemplares}','${libro.ejemplaresPrestados}',
					'${libro.ejemplaresRestantes}','${libro.autor.getId()}','${libro.editorial.getId()}','${libro.sinopsis}')|">Editar</button></td>
					<td th:switch="${libro.alta}">
						<a th:case="false" type="submit" class="btn btn-success" 
  								th:href="@{admin/alta-baja-libro/{id}(id=${libro.id})}">Dar de alta</a>
						<a th:case="true" type="submit" class="btn btn-danger"
								th:href="@{admin/alta-baja-libro/{id}(id=${libro.id})}">Dar de baja</a>	
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- ----------------------------------------EDITAR LIBROS---------------------------------------------------------------- -->
		
		<form action="/admin/editarlibro" method="POST" enctype="multipart/form-data">
					<div
						style="width: 35%; display: none; margin: auto;" id="editar3">
						<div style="display: inline-block; margin: auto">
							<label for="inputId">ID:</label>
							<input type="number" readonly class="form-control" id="idEditar3" name="inputId"> 
						</div>
						
						<div style="display: inline-block; margin: auto">
							<label for="inputIsbn">ISBN:</label>
							<input type="number" class="form-control" id="isbnEditar3" name="inputIsbn"> 
						</div>
						
						<div style="display: inline-block; margin: auto">
							<label for="inputTitulo">Titulo:</label>
							<input type="text" class="form-control" id="tituloEditar3" name="inputTitulo">
						</div>
						
						<div style="display: inline-block; margin: auto">
							<label for="inputAnio">Año:</label>
							<input type="number" class="form-control" id="anioEditar3" name="inputAnio"> 
						</div>
						
						<div style="display: inline-block; margin: auto">
							<label for="inputEjemplares">Ejemplares:</label>
							<input type="number" class="form-control" id="ejemEditar3" name="inputEjemplares"> 
						</div>
						
						<div style="display: inline-block; margin: auto">
							<label for="inputEjemplaresPrestados">Prestados:</label>
							<input type="number" class="form-control" id="ejemPEditar3" name="inputEjemplaresPrestados"> 
						</div>
						
							<div style="display: inline-block; margin: auto">
								<label for="inputEjemplaresRestantes">Disponibles:</label>
								<input type="number" readonly class="form-control" id="ejemDEditar3" name="inputEjemplaresRestantes"> 
							</div>
						
						<div style="display: inline-block; margin: auto">
							<label for="aIdEditar3">Autor:</label>
							<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="aIdEditar3" 
								name="inputAutorId" onchange="agregarNuevo('aIdEditar3','agregar1')">
								<option th:each="autor : ${autores}" 
										th:value="${autor.id}" 
										th:text="${autor.nombre}"></option>
								<option value="-1">(Agregar Nuevo)</option>
						</select>
						</div>
						
						<div style="display: inline-block; margin: auto">
						<label for="eIdEditar3">Editorial:</label>
							<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="eIdEditar3" 
								name="inputEditorialId" onchange="agregarNuevo('eIdEditar3','agregar2')">
								<option th:each="editorial : ${editoriales}" 
										th:value="${editorial.id}" 
										th:text="${editorial.nombre}"></option>
								<option value="-1">(Agregar Nuevo)</option>
							</select>
							
						</div>
						
						<div style="width: 100%; display: block; margin: auto">
							<label for="sinEditar3">Sinopsis:</label>
							<textarea class="form-control" id="sinEditar3" name="inputSinopsis"
								style="height: 80px"></textarea>
						</div>
						
						<div style="width: 100%; display: block; margin: auto">
							<label for="inputFoto">Portada:</label>
							<input type="file" class="form-control" id="inputFoto"name="inputFoto" placeholder="foto"> 
						</div>
						
						<button class="btn btn-lg btn-primary" type="submit" id="finaleditar3">Editar</button>
						<button type="button" class="btn btn-secondary"
							onclick="ocultar('editar3')" style="display: inline">Ocultar</button>
					</div>
				</form>
				
		<!-- ----------------------------------------AGREGAR LIBRO---------------------------------------------------------------- -->
		
		<div>
				<button type="button" class="btn btn-dark" onclick="mostrar('agregar3')">Agregar Libro</button>
				<br>
				<form action="/admin/registrarlibro" method="POST" enctype="multipart/form-data">
					<div class="align-center form-floating" style="display: none; margin: auto; text-align: center" id="agregar3">
					<div style="width: 20%; display: inline-block; margin: auto">
						<label for="inputIsbn">Isbn:</label>
						<input type="number" class="form-control" id="inputIsbn"name="inputIsbn" placeholder="isbn"> 
						
					</div>
					<div style="width: 20%; display: inline-block; margin: auto">
						<label for="inputTitulo">Titulo:</label>
						<input type="text" class="form-control" id="inputTitulo"name="inputTitulo" placeholder="titulo"> 
					</div>
					<div style="width: 10%; display: inline-block; margin: auto">
						<label for="inputAnio">Año:</label>
						<input type="number" class="form-control" id="inputAnio"name="inputAnio" placeholder="año"> 
					</div>
					<div style="width: 10%; display: inline-block; margin: auto">
						<label for="inputEjemplares">Ejemplares:</label>
						<input type="number" class="form-control" id="inputEjemplares"name="inputEjemplares" placeholder="ejemplares"> 
					</div>
					<div style="width: 20%; display: inline-block; margin: auto">
						<label for="inputEjemplaresPrestados">Ejemplares Prestados:</label>
						<input type="number" class="form-control" id="inputEjemplaresPrestados"name="inputEjemplaresPrestados" placeholder="ejemplaresPrestados"> 
					</div>
					<fieldset disabled>
					<div style="width: 20%; display: inline-block; margin: auto">
						<label for="inputEjemplaresRestantes">Ejemplares Restantes:</label>
						<input type="number" class="form-control" id="inputEjemplaresRestantes"name="inputEjemplaresRestantes" placeholder="ejemplaresRestantes"> 
					</div>
					</fieldset>
					<div style="width: 10%; display: inline-block; margin-right: 5px">
						<label for="inputAutorId">Autor:</label>
						<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="inputAutorId" 
							name="inputAutorId" onchange="agregarNuevo('inputAutorId','agregar1')">
								<option th:each="autor : ${autores}" 
										th:value="${autor.id}" 
										th:text="${autor.nombre}"></option>
								<option value="-1">(Agregar Nuevo)</option>
						</select>
					</div>
					<div style="width: 10%; display: inline-block; margin-left: 5px">
						<label for="inputEditorialId">Editorial:</label>
						<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="inputEditorialId" 
							name="inputEditorialId" onchange="agregarNuevo('inputEditorialId','agregar2')">
								<option th:each="editorial : ${editoriales}" 
										th:value="${editorial.id}" 
										th:text="${editorial.nombre}"></option>
								<option value="-1">(Agregar Nuevo)</option>
							</select>
					</div>
					
					<div style="width: 50%; display: block; margin: auto">
							<label for="inputSinopsis">Sinopsis:</label>
							<textarea class="form-control" id="inputSinopsis" name="inputSinopsis"
								style="height: 80px"></textarea>
						</div>
					
					<div style="width: 50%; display: block; margin: auto">
						 <label for="inputFoto">Portada:</label>
						<input type="file" class="form-control" id="inputFoto"name="inputFoto" placeholder="foto">
					</div>
					<br>
						<button class="btn btn-lg btn-primary" type="submit" id="finalagregar3">Agregar</button>
						<button type="button" class="btn btn-secondary" onclick="ocultar('agregar3')" style="display: inline">Ocultar</button>
					</div>
				</form>
			</div>
	</div>
	
	<!-- JavaScript -->
	<script type="text/javascript">
		function mostrar(id) {
			document.getElementById(id).style.display = 'block';
			document.getElementById('final'.concat(id)).scrollIntoView(false);
		}

		function ocultar(id) {
			document.getElementById(id).style.display = 'none';
		}
		
		function enviarAutor(id, nombre) {
			mostrar("editar1");
			document.getElementById("idEditar1").value=id;
			document.getElementById("nombreEditar1").value=nombre;
		}
		function enviarEditorial(id, nombre) {
			mostrar("editar2");
			document.getElementById("idEditar2").value=id;
			document.getElementById("nombreEditar2").value=nombre;
		}
		function enviarLibro(id,isbn,titulo,anio,ejemplares,ejemplaresPrestados,ejemplaresRestantes,autorId,editorialId,sinopsis) {
			mostrar("editar3");
			document.getElementById("idEditar3").value=id;
			document.getElementById("idEditar3").innerText=id;
			document.getElementById("isbnEditar3").value=isbn;
			document.getElementById("tituloEditar3").value=titulo;
			document.getElementById("anioEditar3").value=anio;
			document.getElementById("ejemEditar3").value=ejemplares;
			document.getElementById("ejemPEditar3").value=ejemplaresPrestados;
			document.getElementById("ejemDEditar3").value=ejemplaresRestantes;
			document.getElementById("aIdEditar3").value=autorId;
			document.getElementById("eIdEditar3").value=editorialId;
			if(sinopsis==null){
				document.getElementById("sinEditar3").value="";
			}else{
				document.getElementById("sinEditar3").value=sinopsis;
			}
		}
		
		function agregarNuevo(id,dest) {
			if(document.getElementById(id).value == -1){
				mostrar(dest);
			}
		}
	</script>
	<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>