<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro</title>
<!-- CSS only -->
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<nav th:replace="fragments/navbar.html :: nav"></nav>
	
	<br>
	<br>
	<br>
	<h2 class="dysplay-4">Registro</h2>
	<form action="/registrar" method="POST" class="row g-3" >
		
		<p th:if="${error != null}" th:text="${error}" style="color:red"></p>
		
		<div class="col-md-6">
			<label for="inputDocumento" class="form-label">Documento</label> 
			<input type="number" class="form-control" id="inputDocumento" name="inputDocumento" th:value="${documento}">
		</div>
		<div class="col-md-6">
			<label for="inputEmail" class="form-label">Email</label> 
			<input type="email" class="form-control" id="inputEmail" name="inputEmail" th:value="${email}">
		</div>
		<div class="col-md-6">
			<label for="inputNombre" class="form-label">Nombre</label> 
			<input type="text" class="form-control" id="inputNombre" name="inputNombre" th:value="${nombre}">
		</div>
		<div class="col-md-6">
			<label for="inputApellido" class="form-label">Apellido</label> 
			<input type="text" class="form-control" id="inputApellido" name="inputApellido" th:value="${apellido}">
		</div>
		<div class="col-md-6">
			<label for="inputTelefono" class="form-label">Telefono</label> 
			<input type="text" class="form-control" id="inputTelefono" name="inputTelefono" th:value="${telefono}">
		</div>
		<div class="col-md-6">
			<label for="inputPassword1" class="form-label">Contraseña</label> 
			<input type="password" class="form-control" id="inputPassword1" name="inputPassword1" th:value="${pass1}">
		</div>
		<div class="col-md-6">
			<label for="inputPassword2" class="form-label">Repetir Contraseña</label> 
			<input type="password" class="form-control" id="inputPassword2" name="inputPassword2" th:value="${pass2}">
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn-primary">Registrarme</button>
		</div>
	</form>
	<!-- JavaScript Bundle with Popper -->
	<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>